.App {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__section {
    max-width: 25%;
    &__title {
      font-weight: 800;
    }
    &__form_test {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 100px;
      &__button {
        padding: 10px 15px;
        border: #ff0000 solid 3px;
        border-radius: 5px;
        background-color: #ff0000;
        color: #ffffff;
        transition: color ease-in 0.3s, background-color ease-in 0.3s;
        &:hover {
          cursor: pointer;
          background-color: #ff000000;
          color: #000000;
        }
      }
    }
  }
}
